@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #BAD1CD;
    --cor2: #3A86FF;
    --cor3: #1D3461;
    --cor4: #FB5607;
    --cor5: #dd7b0a;
}

body {
    background-image: linear-gradient(to top, var(--cor1), var(--cor2), var(--cor3));
    height: 635vh;
}

nav {
    display: flex;
    justify-content: space-evenly;

    background-color: var(--cor4);

    border-radius: 5px;

    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}

nav a{
    padding: 3px;
    width: 150px;
    margin: 0px;

    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor2);
    border-radius: 5px;
    transition: .3s;
}

main {
    background-image: linear-gradient(to top,#F5EBE0,#E3D5CA,#D6CCC4);
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:15px;
    margin: auto;
    max-width: 90%;
    width:1000px;
    box-shadow:2px 2px 5px #605F5E;
    line-height: 21px;
}

main > h2 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 2px;
    border-radius: 5px;
}

main p {
    text-indent: 25px;
    text-align: justify;
}

aside {
    background-color: var(--cor5);
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    margin: auto;
}

aside > h2 {
    background-color: var(--cor4);
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    margin-left: -10px;
    margin-right: -10px;
}

.conectivos {
    display: flex;
    justify-content: center;
}

ol li {
    font-size: 20px;
    font-weight: 600;

    list-style: upper-roman;
}
ol ul li {
    list-style: disc;
    font-size: 16px;
}

footer {
    display: flex;
    justify-content: center;

    margin-top: 15px;
    margin-left: -8px;
    margin-right:-8px;
    background-color: var(--cor4);
    padding: 3px;
}