@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to top,#BAD1CD,#3A86FF,#1D3461);
    max-height: 100%;
}

main {
    background-image: linear-gradient(to top,#F5EBE0,#E3D5CA,#D6CCC4);
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:1px;
    padding-bottom:15px;
    margin: auto;
    max-width: 90%;
    width:800px;
    box-shadow:2px 2px 5px #605F5E;
}

.gramatica {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.gramatica:hover {
    transform: scale(1.1);
}

.sociologia {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.sociologia:hover {
    transform: scale(1.1);
}

.filosofia {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.filosofia:hover {
    transform: scale(1.1);
}

.historiarte {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.historiarte:hover {
    transform: scale(1.1);
}

.redação {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.redação:hover {
    transform: scale(1.1);
}

.historia {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.historia:hover {
    transform: scale(1.1);
}

.geografia {
    background-color:#3A86FF;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.geografia:hover {
    transform: scale(1.1);
}

.matematica {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.matematica:hover {
    transform: scale(1.1);
}

.matematica2 {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.matematica2:hover {
    transform: scale(1.1);
}

.fisica {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.fisica:hover {
    transform: scale(1.1);
}

.fisica2 {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.fisica2:hover {
    transform: scale(1.1);
}

.biologia {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.biologia:hover {
    transform: scale(1.1);
}

.biologia2 {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.biologia2:hover {
    transform: scale(1.1);
}

.quimica {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.quimica:hover {
    transform: scale(1.1);
}

.quimica2 {
    background-color:#dd7b0a;
    border-radius: 20px;
    text-align: justify;
    text-indent: 20px;
    font-size: normal;
    transition: transform .2s;
    max-width: 60%;
    width: 180px;
}

.quimica2:hover {
    transform: scale(1.1);
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}